@page "/counter"
@inject ILocalStorageService localStorage

<h1>Counter</h1>

<div class="progress progress-bar-vertical">
	<div class="progress-bar" role="progressbar" aria-valuenow="@currentCount" aria-valuemin="0" aria-valuemax="100" style="height: @currentCount%"></div>
</div>

<button class="btn btn-primary" @onclick="@(async () => await IncrementCount())">Click me</button>

@code {
	private int currentCount;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		currentCount = await localStorage.GetItemAsync<int>(nameof(currentCount));
	}

	private async ValueTask IncrementCount()
	{
		await localStorage.SetItemAsync(nameof(currentCount), currentCount += 5);
	}
}
